body { /* general styling */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

main { /* general styling */
    width: 50%;
    height: 50%;
    background-color: #000;
}

#list1 { /* styling the containing div */
    display: flex;
}

.itemWrapper { /* Styling the wrapper that is applied to each item in teh list */
    margin: auto;
}

.itemWrapper img { /* making the button the correct size */
    height: 31px;
    width: 88px;
    margin: 20px;
}

.tooltip { /* tooltip styling */
    background-color: #fff;
    color: #000;
    padding: 10px;
}